<div class="p-4">
    <ContentPanel @title="Details" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-900">
        <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-4 text-xs dark:text-gray-100">

            <div class="field-info-container">
                <div class="field-name">Customer UUID</div>
                <div class="field-value">{{n-a @salesOrder.customer_uuid}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">Status</div>
                <div class="field-value">{{n-a @salesOrder.status}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">Order Created</div>
                <div class="field-value">{{@salesOrder.createdAtShort}}</div>
            </div>
            
            <div class="field-info-container">
                <div class="field-name">Order Delivered</div>
                <div class="field-value">{{@salesOrder.deliveredAtShort}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">Created At</div>
                <div class="field-value">{{@salesOrder.createdAtShort}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">Updated At</div>
                <div class="field-value">{{@salesOrder.updatedAtShort}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">Deleted At</div>
                <div class="field-value">{{@salesOrder.deletedAtShort}}</div>
            </div>

        </div>
    </ContentPanel>
</div>
