<div class="space-y-4">
    <ContentPanel @title="Setup" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
        <InputGroup @name="Select supplier type">
            <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                <PowerSelect
                    @options={{this.supplierTypes}}
                    @selected={{this.selectedSupplierType}}
                    @onChange={{this.onSelectSupplierType}}
                    @placeholder="Select supplier type"
                    @triggerClass="form-select form-input"
                    as |supplierType|
                >
                    {{supplierType.label}}
                </PowerSelect>
            </div>
        </InputGroup>
        {{#if (eq this.selectedSupplierType.value "integrated-supplier")}}
            <InputGroup @name="Choose integrated supplier provider">
                <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                    <PowerSelect
                        @options={{this.supportedIntegratedSuppliers}}
                        @selected={{this.selectedIntegratedSupplier}}
                        @onChange={{this.onSelectIntegratedSupplier}}
                        @placeholder="Select integrated supplier provider"
                        @triggerClass="form-select form-input"
                        as |integratedSupplier|
                    >
                        <div class="flex flex-row items-center">
                            <Image src={{integratedSupplier.logo}} alt={{integratedSupplier.code}} class="w-4 h-4" width="16" height="16" />
                            <h3 class="text-sm ml-4 dark:text-white">{{integratedSupplier.name}}</h3>
                        </div>
                    </PowerSelect>
                </div>
            </InputGroup>
        {{/if}}
    </ContentPanel>
    {{#if this.selectedSupplierType.value}}
        {{#if (eq this.selectedSupplierType.value "integrated-supplier")}}
            {{#if this.selectedIntegratedSupplier}}
                <ContentPanel @title="Provider" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                    <div class="flex flex-row items-center">
                        <img src={{this.selectedIntegratedSupplier.logo}} alt={{this.selectedIntegratedSupplier.code}} class="w-12 h-12" width="48" height="48" />
                        <h3 class="text-base text-black dark:text-white ml-4">{{this.selectedIntegratedSupplier.name}}</h3>
                    </div>
                </ContentPanel>
                <ContentPanel @title="Credentials" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                    {{#each this.selectedIntegratedSupplier.credential_params as |param|}}
                        <InputGroup
                            @name={{smart-humanize param.key}}
                            @value={{mut (get this.integratedSupplier.credentials param.key)}}
                            @helpText={{concat "Optionally supply your own " (smart-humanize param.key) " to configure this supplier."}}
                        />
                    {{/each}}
                </ContentPanel>
                <ContentPanel @title="Options" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                    {{#each this.selectedIntegratedSupplier.option_params as |param|}}
                        {{#if param.options}}
                            <InputGroup @name={{smart-humanize param.key}}>
                                <Select
                                    @value={{mut (get this.integratedSupplier.options param.key)}}
                                    @options={{param.options}}
                                    @optionValue={{param.optionValue}}
                                    @optionLabel={{param.optionLabel}}
                                    @humanize={{true}}
                                    @placeholder={{concat "Select " (smart-humanize param.key)}}
                                    @onSelect={{fn (mut (get this.integratedSupplier.options param.key))}}
                                />
                            </InputGroup>
                        {{else}}
                            <InputGroup
                                @name={{smart-humanize param.key}}
                                @value={{mut (get this.integratedSupplier.options param.key)}}
                                @helpText={{concat "Optionally supply your own " (smart-humanize param.key) " to configure this supplier."}}
                            />
                        {{/if}}
                    {{/each}}
                    <InputGroup>
                        <Checkbox @value={{this.integratedSupplier.sandbox}} @label="Sandbox" @onToggle={{fn (mut this.integratedSupplier.sandbox)}} @alignItems="center" @labelClass="mb-0i" />
                    </InputGroup>
                </ContentPanel>
                <ContentPanel @title="Advanced Options" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                    <div>
                        <a href="javascript:;" class="text-blue-600 underline text-sm" {{on "click" this.toggleAdvancedOptions}}>{{if
                                this.showAdvancedOptions
                                "Hide Advanced Options"
                                "Show Advanced Options"
                            }}</a>
                    </div>
                    {{#if this.showAdvancedOptions}}
                        <div class="mt-4">
                            <InputGroup @name="Custom Host" @value={{this.integratedSupplier.host}} @helpText="Optionally provide a custom host that should be used for this integration." />
                            <InputGroup
                                @name="Custom Namespace"
                                @value={{this.integratedSupplier.namespace}}
                                @helpText="Optionally provide a custom namespace or api version that should be used for the integration."
                            />
                            <InputGroup
                                @name="Webhook URL"
                                @value={{this.integratedSupplier.webhook_url}}
                                @helpText="Integrated suppliers will typically require this so that Fleetbase can receive activity updates on the order. Do not change unless you know what you are doing! Changing this may break your order updates!"
                            />
                        </div>
                    {{/if}}
                </ContentPanel>
            {{else}}
                <div class="flex items-center justify-center border-2 border-dashed h-32 w-full rounded-md dark:border-gray-700 border-gray-200">
                    <h3 class="text-gray-800 dark:text-gray-400 italic text-sm">Select an integrated supplier provider.</h3>
                </div>
            {{/if}}
        {{else}}
            <ContentPanel @title="Supplier Details" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                <InputGroup @name="Name" @value={{this.supplier.name}} @helpText="The supplier's name, typically the name of a business." />
                <InputGroup @name="Email" @type="email" @value={{this.supplier.email}} @helpText="The supplier's email, this can be used to trigger emails to the supplier." />
                <InputGroup @name="Phone" @type="tel" @value={{this.supplier.phone}} @helpText="The supplier's phone #, this can be used to trigger SMS or messages to the supplier." />
                <InputGroup @name="Website" @value={{this.supplier.website_url}} @helpText="The supplier's website, optionally add the suppliers website for reference." />
                <InputGroup @name="Type">
                    <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                        <PowerSelect
                            @options={{@supplierTypes}}
                            @selected={{this.supplier.type}}
                            @onChange={{fn (mut this.supplier.type)}}
                            @placeholder="Select supplier type"
                            @triggerClass="form-select form-input"
                            as |type|
                        >
                            {{smart-humanize type}}
                        </PowerSelect>
                    </div>
                </InputGroup>
                <InputGroup @name="Status">
                    <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                        <PowerSelect
                            @options={{@supplierStatusOptions}}
                            @selected={{this.supplier.status}}
                            @onChange={{fn (mut this.supplier.status)}}
                            @placeholder="Select supplier status"
                            @triggerClass="form-select form-input"
                            as |status|
                        >
                            {{smart-humanize status}}
                        </PowerSelect>
                    </div>
                </InputGroup>
                <InputGroup @wrapperClass="col-span-2">
                    <div class="flex items-center justify-between">
                        <label>
                            Address
                        </label>
                        <div class="mb-1.5 flex flex-row">
                            <Button @type="default" @size="xs" @icon="edit" @text={{if this.supplier.has_place "Edit" "New Address"}} @onClick={{this.editAddress}} />
                        </div>
                    </div>
                    <ModelSelect
                        @modelName="warehouse"
                        @selectedModel={{this.supplier.warehouse}}
                        @placeholder="Select Address"
                        @triggerClass="form-select form-input"
                        @infiniteScroll={{false}}
                        @renderInPlace={{true}}
                        @onChange={{this.selectSupplierAddress}}
                        as |model|
                    >
                        <div class="flex items-center flex-row justify-between">
                            <div class="truncate flex-1">{{n-a model.address}}</div>
                            <Badge @hideStatusDot={{true}} @status="info">{{model.public_id}}</Badge>
                        </div>
                    </ModelSelect>
                </InputGroup>
                <InputGroup @name="Country">
                    <CountrySelect class="w-full form-input form-select form-datalist" @value={{this.supplier.country}} @onChange={{fn (mut this.supplier.country)}} placeholder="Country" />
                </InputGroup>
            </ContentPanel>
        {{/if}}
    {{/if}}
</div>