<Overlay
    @onLoad={{this.setOverlayContext}}
    @position="right"
    @noBackdrop={{true}}
    @fullHeight={{true}}
    @isResizeble={{or this.isResizable @isResizable}}
    @width={{or this.width @width "600px"}}
>
    <Overlay::Header @hideLeftSection={{true}} @actionsWrapperClass="flex-1 flex-col py-3" class="h-auto-i min-h-[127px]">
        <div class="flex flex-row items-center justify-between w-full mb-4">
            <div class="flex flex-1 space-x-2">
                {{#if this.product.id}}
                    <Button @type="default" @icon="box" @helpText="View product details" @onClick={{this.onViewDetails}} />
                {{/if}}
            </div>
            <div class="flex flex-1 justify-end">
                <div class="mr-2">
                    <Button @icon={{if this.product.id "save" "check"}} @type="primary" @text={{if this.product.id "Save Product" "Create Product"}} @onClick={{this.save}} />
                </div>
                <Button @type="default" @icon="times" @helpText={{if this.product.id "Cancel edit product" "Cancel new product"}} @onClick={{this.onPressCancel}} />
            </div>
        </div>
        <div class="flex flex-row justify-between w-full">
            <div class="flex flex-col flex-1 w-3/4">
                <div class="flex flex-row">
                    <div class="w-14">
                        <div class="w-12 h-12 flex items-center justify-start relative hover:bg-gray-100 transition-all rounded-lg overflow-hidden">
                            <img src={{this.product.photo_url}} alt={{this.product.name}} height="48" width="48" class="h-12 w-12 rounded-lg shadow-sm" />
                            <Attach::Tooltip @class="clean" @animation="scale" @placement="top">
                                <InputInfo @text={{this.product.public_id}} />
                            </Attach::Tooltip>
                            <div class="absolute inset-0 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity bg-gray-600 bg-opacity-50 rounded-lg">
                                <UploadButton
                                    @name="photos"
                                    @accept="image/*"
                                    @onFileAdded={{this.onUploadNewPhoto}}
                                    @icon="upload"
                                    @hideButtonText={{true}}
                                    @labelClass="upload-avatar-label-overlay"
                                    class="w-12 btn-reset"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <h1 class="text-gray-900 dark:text-white text-2xl">
                            {{#if this.product.id}}
                                {{this.product.name}}
                            {{else}}
                                {{#if this.product.name}}
                                    {{this.product.name}}
                                {{else}}
                                    <span>New Product</span>
                                {{/if}}
                            {{/if}}
                        </h1>
                        <div class="-mt-1">
                            <div class="flex flex-row items-center">
                                <span class="text-sm dark:text-blue-400 text-blue-600">{{n-a this.product.title (smart-humanize this.product.type)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end w-1/4">
                <Badge @status={{this.product.status}} @type="info" @hideStatusDot={{true}} />
            </div>
        </div>
    </Overlay::Header>

    <Overlay::Body @wrapperClass="new-service-rate-overlay-body px-4 pt-4" @increaseInnerBodyHeightBy={{700}}>
        <div class="w-32 mb-6 mr-6 flex flex-col items-center">
            <Image src={{this.product.photo_url}} alt={{this.product.name}} height="128" width="128" class="h-32 w-32 rounded-md" />
            <UploadButton @name="photos" @accept="image/*" @onFileAdded={{this.uploadNewPhoto}} class="w-32" />
        </div>
        <div class="flex-1 space-y-4">
            <ContentPanel @title="Details" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-2">
                    <InputGroup @name="Name" @value={{this.product.name}} @helpText="Name of item or entity." @wrapperClass="mb-2" />
                    <InputGroup
                        @name="Internal ID"
                        @value={{this.product.internal_id}}
                        @helpText="Use this field to optionally set a custom identifier or internal identifier for the entity."
                        @wrapperClass="mb-2"
                    />
                    <InputGroup @name="SKU" @value={{this.product.sku}} @helpText="Stock keeping unit number if applicable." @wrapperClass="mb-2" />
                    <div></div>
                    <InputGroup @name="Description" @helpText="Additional description text of entity." @wrapperClass="col-span-2 mb-2">
                        <Textarea @value={{this.product.description}} type="text" class="w-full form-input" placeholder="Description" />
                    </InputGroup>
                </div>
            </ContentPanel>

            <ContentPanel @title="Pricing & Value" @open={{false}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-2">
                    <InputGroup @name="Price" @helpText="Price of entity." @wrapperClass="mb-2">
                        <MoneyInput
                            class="w-full"
                            @value={{this.product.price}}
                            @currency={{this.product.currency}}
                            @canSelectCurrency={{true}}
                            @onCurrencyChange={{this.product.currency}}
                        />
                    </InputGroup>
                    <InputGroup @name="Sale Price" @helpText="Sale price or discounted price of entity." @wrapperClass="mb-2">
                        <MoneyInput
                            class="w-full"
                            @value={{this.product.sale_price}}
                            @currency={{this.product.currency}}
                            @canSelectCurrency={{true}}
                            @onCurrencyChange={{this.product.currency}}
                        />
                    </InputGroup>
                    <InputGroup @name="Declared Value" @helpText="Declared value of entity, useful is insurable." @wrapperClass="mb-2">
                        <MoneyInput
                            class="w-full"
                            @value={{this.product.declared_value}}
                            @currency={{this.product.currency}}
                            @canSelectCurrency={{true}}
                            @onCurrencyChange={{this.product.currency}}
                        />
                    </InputGroup>
                </div>
            </ContentPanel>

            <ContentPanel @title="Measurements & Weight" @open={{false}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                <div class="grid grid-cols-3 gap-1">
                    <InputGroup @name="Length" @helpText="The length of the entity." @wrapperClass="mb-2">
                        <UnitInput
                            class="w-full"
                            @measurement="length"
                            @value={{this.product.length}}
                            @unit={{this.product.dimensions_unit}}
                            @canSelectUnit={{true}}
                            @onUnitChange={{fn (mut this.product.dimensions_unit)}}
                        />
                    </InputGroup>
                    <InputGroup @name="Width" @helpText="The width of the entity." @wrapperClass="mb-2">
                        <UnitInput
                            class="w-full"
                            @measurement="length"
                            @value={{this.product.width}}
                            @unit={{this.product.dimensions_unit}}
                            @canSelectUnit={{true}}
                            @onUnitChange={{fn (mut this.product.dimensions_unit)}}
                        />
                    </InputGroup>
                    <InputGroup @name="Height" @helpText="The height of the entity." @wrapperClass="mb-2">
                        <UnitInput
                            class="w-full"
                            @measurement="length"
                            @value={{this.product.height}}
                            @unit={{this.product.dimensions_unit}}
                            @canSelectUnit={{true}}
                            @onUnitChange={{fn (mut this.product.dimensions_unit)}}
                        />
                    </InputGroup>
                </div>
                <div class="grid grid-cols-3 gap-1">
                    <InputGroup @name="Weight" @helpText="The weight of the entity." @wrapperClass="mb-2">
                        <UnitInput
                            class="w-full"
                            @value={{this.product.weight}}
                            @measurement="weight"
                            @unit={{this.product.weight_unit}}
                            @canSelectUnit={{true}}
                            @onUnitChange={{fn (mut this.product.weight_unit)}}
                        />
                    </InputGroup>
                </div>
            </ContentPanel>
        </div>
    </Overlay::Body>
</Overlay>